body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vh;
    background-color: orange;
}
h1 {
    color: white;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}